doctype html
html
  head
    title Recuperação de Senha
  body
    h1 Olá, #{username}!
    p Recebemos sua solicitação para redefinir sua senha.
    p Seu código de recuperação é:
    h2 #{code}
    p Se você não solicitou esta recuperação, ignore este e-mail.
    p Obrigado, a equipe do nosso projeto!
